body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  text-align: center;
}

.promo {
  text-align: center;
}

.promo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.deskripsi {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Tambahkan gaya tambahan sesuai keinginan */
